body{
    font-family: 'Apercu';
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Urbane Rounded';
}

p{
    line-height: 1.75;
}

p.error-message {
    margin-top: 5px;
    color: #ff0000;
    font-size: 12px;
    display: block;
}

.text-truncate {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.text-truncate2 {
    -webkit-line-clamp: 2;
}

.text-truncate3 {
    -webkit-line-clamp: 3;
}

.text-truncate4 {
    -webkit-line-clamp: 4;
}

.box-shadow{
    box-shadow: 0px 10px 36px #00000029 !important;
}

.rounded-full{
    border-radius: 999px;
}
.theme-radius{
    border-radius: 5px;
}

.bg-gray-light{
    background-color: #F8F8F8;
}

/* input form css */
.form-control{
    background: #EBEBEB65;
    border: 1px solid transparent;
    font-size: 14px;
    color: $dark;
    padding: 10px 15px;
    transition: 0.2s all ease-in-out;
    line-height: 1.7;
    border-radius: 5px;

    &::placeholder{
        color: $dark;

        @include media-breakpoint-down(md) {
            color: rgb(44 54 70 / 30%);
        }
    }

    &:focus{
        border: 1px solid rgb(44 54 70 / 50%);
        box-shadow: none;
        background: #EBEBEB65;
    }
}

/* END input form css */


.story-box {
    display: block;
    width: 100%;
    line-height: 1.8;
    z-index: 10;
    @include media-breakpoint-up(md) {
        width: 50%;
    }

    h3 {
        color: $gray;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #e9e9e9;
        font-weight: 500;
    }
}

/* END story section */

.box-large-image {
    width: 50%;
    @include media-breakpoint-down(md) {
        width: 100%;
        position: relative !important;
        height: 350px !important;
    }
}

.right-in-box {
    @include media-breakpoint-down(md) {
        padding: 0px;
    }

    .box-large-image {
        left: 0;
    }

    .story-box {
        margin-left: auto;
        margin-right: 0;
    }
}

.left-in-box {
    @include media-breakpoint-down(md) {
        padding: 0px;
    }

    .box-large-image {
        right: 0;
    }

    .story-box {
        margin-right: auto;
        margin-left: 0;
    }
}


@include media-breakpoint-down(md) {
    .-mx-3{
        margin-left: -12px;
        margin-right: -12px;
    }
}

// filter tab nav
.filter-tab-btn{
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: 14px;
    padding: 10px 0px;
    color: $dark;
    display: block;
    transition: 0.4s all ease-in-out;
    white-space: nowrap;
    opacity: 0.4;
    margin-right: 40px;
    text-transform: uppercase;

    &.active,
    &:hover{
        opacity: 1;
        color: $dark;
    }
}

.underline{
    text-decoration: underline;
}