.card-hover{
    .card-img{
        border-radius: 0px;
    }
    img{
        transform: scale(1);
        transition: 0.4s all ease-in-out;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}


/* card-with-inner-body */
.card-with-inner-body{
  position: relative;

  .card-body{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    padding:60px 30px 35px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.90) 0%, rgba(0,0,0,0.90) 6%, rgba(0,0,0,0.75) 30%, rgba(0,0,0,0.55) 49%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.90) 0%,rgba(0,0,0,0.90) 6%,rgba(0,0,0,0.75) 30%,rgba(0,0,0,0.55) 49%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */

    h3{
        font-size: 30px;
    }
    @include media-breakpoint-down(md) {
        padding:20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background: -moz-linear-gradient(bottom, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.40) 6%, rgba(0,0,0,0.35) 30%, rgba(0,0,0,0.35) 49%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.40) 0%,rgba(0,0,0,0.40) 6%,rgba(0,0,0,0.35) 30%,rgba(0,0,0,0.35) 49%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */

        .btn-with-icon{
            font-size: $bodyS;
            letter-spacing: 1.4px;
        }
    }

  }
}

// blog card css
.news-card{
    .card-img{
        height: 340px;
        border-radius: 5px;
        @include media-breakpoint-down(md) {
            height: 220px;
        }
    }

    .body-card{
        h3{
            font-size: 26px;
            line-height: 47px;
            letter-spacing: -0.52px;
            @include media-breakpoint-down(md) {
                font-size: 25px;
                line-height: 33px;
            }
        }
    }
    
    &:hover{
        .icon-btn{
            background-color: $secondary;
            color: $white;
        }
    }
}

// END blog card css