

.team-modal{
    @include media-breakpoint-down(md) {
        background: $white;
    }

    .modal-dialog{
        max-width: 1000px;
        @include media-breakpoint-down(md) {
            margin: 0px;
            align-items: flex-start;
        }

        @include media-breakpoint-up(md) {
            width: 90%;
        }
    }
    .modal-content{
        border: none;

        @include media-breakpoint-down(md) {
            border-radius: 0px;
        }

        @include media-breakpoint-up(md) {
            border-radius: 5px;
            overflow: hidden;
            height: 550px;
            overflow-y: auto;
        }
    }
    .modal-body{
        padding: 0px;
        height: 100%;
        overflow-y: auto;

        @include media-breakpoint-up(lg) {
            h3 {
                font-size: 32px;
            }
        }
        @include media-breakpoint-up(md) {
            .team-img{
                width: 46%;
            }
            .team-content{
                width: 54%;
            }
        }
    }

    .team-member-profile-info{
        font-size: 15px;
        line-height: 24px;
    }

    .btn-close{
        right: 20px;
        top: 20px;
        z-index: 9;

        &:hover{
            opacity: 1;
            background: $primary;
        }
    }
}

.btn-close{
    background: $secondary;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    opacity: 1;
    transition: 0.2s all ease-in-out;
}