footer{
    .text-title{
        @include media-breakpoint-up(md) {
            font-size: 50px;
        }
    }

    @include media-breakpoint-up(md) {
        form{
            max-width: 410px;
            margin-left: auto;
            margin-right: 0px;
        }
    }

    img.footer-shadow {
        position: absolute;
        top: 0;
        z-index: 0;
        right: 0%;
        transform: translateX(50%);
        height: 70%;
        object-fit: contain;
        object-position: top;
        
        @include media-breakpoint-up(md) {
            transform: translateX(0%);
            height: 100%;
            right: 25%;
        }
    }

}
.footer-contact{
    font-size: 20px;

    .contact-icon{
        background-color: $primary;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.social-icons{
    li{
        margin-right: 12px;
        @include media-breakpoint-up(md) {
            margin-left: 12px;
            margin-right: 0px;
        }

        a{
            width: 50px;
            height: 50px;
            background-color: #ffffff30;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                transform: scale(1.25);
            }
        }
    } 
}


.newslatter-form{
    position: relative;
    
    input {
        font-size: 16px;
        padding: 15px 60px 15px 20px;
        border: 1px solid transparent;
        font-weight: 400;
    
        &::placeholder{
            color: #2C364634;
        }
    }   

    .icon-btn{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 4px;
        margin: auto;
        z-index: 1;
        width: 48px;
        height: 48px;
        
        &:hover{
            background-color: $secondary;
            color: $white;
        }
    }
}

.footer-menu{
    a{
        border-bottom: 1px solid transparent;
        opacity: 0.7;
        transition: 0.4s all ease-in-out;

        &:hover{
            border-color: #ffffff;
            opacity: 1;
        }
    }
}
